@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
    
}

.navbar {
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 26px 15px;
    text-transform: uppercase;
}

.bg-red{
    background-color:#e62b1e ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 80px;
    width: 100%;
    flex-wrap: wrap;
    background-color: black;
}


.backgroung-img {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
}



.logo img {
    width: 200px;

}

.logo {
    margin-left: 90px;
}

/*  */

.red-under h1::after{
    content: "";
    display: block;
    width: 78px;
    height: 7px;
    background-color: red;
    margin-top: 20px;
}

.red-under h1{
    font-size: 45px;
    margin-bottom: 45px;
    margin-top: 45px;
    
}

.alumni{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 200px;
}


/*  */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

footer img {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer-icons span{
    padding: 0 17px;

}
.footer-icons span a {
    display: inline-block;
    text-decoration: none;
    color: rgb(131, 131, 131);
    font-size: 25px;
}
.footer-icons span i:hover{
    color: black;
}

.timing {
    background-image: url("../images/timing.png");
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.navbar ul a li:hover{
    color: rgb(215, 213, 213);
}